* {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Navbar */
.header {
  box-shadow: 0px 2px 13px 1px rgba(0, 0, 0, 0.32);
}

.navbar {
  background-color: rgba(209, 215, 220, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.navbar .title,
.navbar .links {
  padding: 0 1em;
}

.title {
  padding: 0 1em;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: black;
  margin: 0 0.2em;
  cursor: pointer;
}
.link:hover {
  color: grey;
}

/* Main */
.main {
  margin: 2em;
}

/* Footer */
.footer {
}

/* Login & Register page*/
.wave-wrapper {
  height: 100vh;
  background: url(../css/wave.svg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  padding: 2em;
  box-shadow: rgba(152, 155, 158, 0.3) 0px 6px 12px;
  border-radius: 8px;
  gap: 0.8em;
  display: grid;
  gap: 1rem;
  width: 60%;
  max-width: 600px;
  background-color: white;
}

.auth-form {
  width: 80%;
  margin: auto;
  gap: 0.8em;
  display: grid;
  gap: 1rem;
}

.input,
.select {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  padding: 0.6em;
  margin: 0.2em;
}

.input:focus {
  outline-color: #a0c9ff;
}
.input-container {
  position: relative;
}

.form-container {
  margin-top: 2em;
  min-width: 60%;
}

.form-container .form-title {
  padding: 0.4em 0;
}

/* User page */
.form-container-product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#add-product-btn,
#add-product-modal-btn,
#products-modal-btn,
#add-category-btn,
#add-subcategory-btn,
.delete-category-btn,
.button {
  transition: 0.15s all ease-in-out;
  cursor: pointer;

  background: #898989;
  border-radius: 30px;
  border: none;
  color: #fff;
  padding: 7px;
  margin: 5px 2px 0 0;
  text-decoration: none;
  text-align: center;
}

#add-product-btn:hover,
#add-product-modal-btn:hover,
#products-modal-btn:hover,
#add-category-btn:hover,
#add-subcategory-btn:hover,
.delete-category-btn:hover,
.button:hover {
  background: #a8a4a4;
}

.button {
  border-radius: 5px;
  width: 8em;
}
#products-modal-content {
}

.product-table {
  width: 100%;
  margin-top: 5em;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  overflow: auto;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

.close-product {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close-product:hover,
.close-product:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Admin page */
#category-container {
  display: flex;
  overflow: auto;
}

.category-box {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1em;
  border-radius: 10px;
  border: 1px solid black;
  min-width: 7em;
}

.category-name {
  color: black;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.delete-category-btn {
  margin-top: auto;
}

#subcategory {
  display: block;
}

/* Auctions */
#auctions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  transition: 0.3s;
  justify-items: center;
}

.auction-container {
  margin: 2em 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  cursor: pointer;
}
.auction-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.auction-container img {
  width: 100%;
}

.text-content {
  text-align: left;
  padding: 10px;
}

#product-container {
  display: flex;
  flex-direction: column;
}

.auction-info {
  display: flex;
  justify-content: space-around;
}

.info-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  align-items: center;
}

.auction-description {
  text-align: center;
  margin: 3em 0;
}

.auction-offers {
  padding: 0.5em;
}

.offer {
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
  padding: 1em;
  background-color: rgb(232, 232, 232);
}

.offer:hover {
  background-color: rgb(227, 225, 225);
}

.offer-info {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.offer-info p {
  margin-right: .5em;
}

.product-link {
  font-weight: 500;
  color: #064392;
  cursor: pointer;
  text-decoration: underline;
}
